#sticky {
    position: fixed;
    top: 0;
    width: 74%;
    height: 150px;
    z-index: 1000;
}

.asd-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 50%;
    border: 1px solid black;
}

.header-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    height: 300px;
}

.active-menu {
    font-weight: 800;
}

#media {
    margin-top: 150px;
} 

#nav-menu {
    height: 50px;
    width: 100%;
    overflow: hidden;
    font-size: 17px;
    background-color: #e2e2e2;
}

#nav-menu > li {
    display: inline-block;
}

#header {
    height: 100px;
}

.slideshow-wrapper {
    position: relative;
    height: 100%;
    width: 600px;
    overflow: hidden;
    margin-left: 20px;
}

.slideshow-wrapper ul {
    position: relative;
    list-style: none;
    list-style-type: none;
    margin: 0;
    height: 200px;
    padding: 0;
}

.slideshow-item {
    position: absolute;
    float: left;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    
}

.slideshow-image {
    max-height: 100%;
    max-width: 100%;
}

#carousel-wrapper {
    position:  relative;
    height: 100%;
    width: 100%;
}

.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 33%;
    left: 600px;
    width: 20px;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0!important;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}